@import '_varibles.scss';
@import '_mixin.scss';
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $primary-contrast-text;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	min-width: 320px;
    font-family:'Roboto', sans-serif;
	position: relative;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

.max-container {
    width: 100%;
    margin: 0 auto;
}

.container {
	max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;    
}
input[type=color]::-webkit-color-swatch {
	border: none;  
	border-radius: 50%;
}
  
/* firefox */
input[type=color]::-moz-focus-inner {
	border: none;
	padding: 0;
	border-radius: 50%;
}
input[type=color]::-moz-color-swatch {
	border: none;
	border-radius: 50%;
	height: 140px;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: $action-hover-4-p;
	&__container {
		.header__link {
			max-width: 160px;
			margin-top: 24px;
			margin-bottom: 21px;
			color: $text-secondary-54-p;
			display: flex;
			gap: 8px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: $letter-spacing-015;
		}
	}
}
.guide {
	background-color: $action-hover-4-p;
	padding-top: 142px;
	padding-bottom: 21px;
	&__container {
		.guide__wrap {
			width: 27%;
			.guide__title {
				font-size: 36px;
				font-style: normal;
				font-weight: 500;
				line-height: 32px; 
				letter-spacing: $letter-spacing-015;
				margin-bottom: 15px;
			}
			.guide__text {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: $letter-spacing-015;
				color: $text-secondary-54-p;
				.guide__link {
				color: $primary-main;
				}
			}
		}
	}
}
.create {
	margin-bottom: 32px;
	&__container {
		width: 36.8%;
		padding-right: 27px;
		.create__wrap {
			display: flex;
			flex-direction: column;
			.create__title {
				font-size: 20px;
				font-weight: 500;
				line-height: 32px;
				letter-spacing: $letter-spacing-015;
				margin-bottom: 5px;
			}
			.create__text {
				color: $text-secondary-54-p;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: $letter-spacing-015;
				margin-bottom: 24px;
			}
			.form {
				display: flex;
				flex-direction: column;
				.count-wrap {
					position: relative;
					.count {
						position: absolute;
						top: 18px;
						right: 12px;
						color: $text-secondary-54-p;
						font-size: 16px;
						line-height: 19px;
						letter-spacing: $letter-spacing-015;
					}
					.more {
						position: absolute;
						top: 16px;
						left: 12px;
					}
					.input-more {
						padding-left: 45px
					}
				}
				&__kit {
					@include form-wrap;
					.kit__title {
						@include create-title;
					}
					.kit__text {
						@include create-text;
					}
					.kit__input {
						@include create-input;
						margin-bottom: 16px;
					}
					.kit__descript {
						@include create-input;
						height: 133px;
						resize: none;
					}
				}
				&__loading {
					@include form-wrap;
					.loading__title {
						@include create-title;
						margin-bottom: 16px;
					}
					.loading__wrap {
						position: relative;
						border: 1px dashed $text-disabled-38-p;
						padding: 35px 37px 30px;
						display: flex;
						gap: 16px;
					}
					.loading__input {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 0;
						border: 0;
						outline:0;
						opacity:0;
						cursor: pointer;
					}
					.loading__content {
						.loading__text {
							font-size: 14px;
							line-height: 20px;
							letter-spacing: $letter-spacing-015;
							&_2 {
								color: $primary-main;
							}
							&_3 {
								font-size: 12px;
								letter-spacing: $letter-spacing-04;
								color: $text-secondary-54-p;
							}
						}
					}
				}
				&__color {
					@include form-wrap;
					padding-bottom: 25px;
					.color__title {
						@include create-title;
					}
					.color__text {
						@include create-text;
						margin-bottom: 30px;
					}
					.color__input {
						width: 44px;
						height: 44px;
						border-radius: 48px;
						border: none;
						padding: 0;
						overflow: hidden;
  						outline: none;
						border: 2px solid $primary-contrast-text;
						&:hover {
							outline: 1px solid #C4C4C4;
						}
						&:active {
							outline-color: $primary-main;
						}
					}

				}
				&__switch {
					@include form-wrap;
					padding-bottom: 37px;
					.switch__title {
						@include create-title;
					}
					.switch__text {
						@include create-text;
					}
					.switch-block {
						display: flex;
						align-items: center;
						gap: 12px;
						.switch-option {
							font-size: 12px;
							line-height: normal;
							letter-spacing: $letter-spacing-04;
							color: $text-disabled-38-p;
							&--active {
								color: $grey-grey-300-900;
							}
						}
						.switch-wrap {
							position: relative;
							display: inline-block;
							width: 50px;
							height: 23px;
							.switch__input {
								display: none;
							}
							.switch-slider {
								position: absolute;
								cursor: pointer;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-color: $grey-grey-300-900;
								border-radius: 33px;
								transition: background-color 0.3s ease-in-out;
								&:before {
									position: absolute;
									content: "";
									height: 17px;
									width: 17px;
									left: 3px;
									bottom: 3px;
									background-color: $primary-contrast-text;
									border-radius: 17px;
									transition: transform 0.3s ease-in-out;
								}
							}
							.switch__input:checked + .switch-slider:before {
								transform: translateX(26px);
								filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.20))
							}

							.switch__input:checked + .switch-slider {
								background-color: $grey-grey-300;
							}
						}
					}
				}
				&__link {
					@include form-wrap;
					margin-bottom: 20px;
					border: none;
					.link__title {
						@include create-title;
					}
					.link__text {
						@include create-text;
						margin-bottom: 23px;
					}
					.link__input {
						@include create-input;
						margin-bottom: 16px;
					}
				}
				&__button {
					@include button;
					margin-bottom: 10px;
					&:hover {
						background-color: $primary-dark;
					}
				}
				&__disclaimer {
					font-size: 12px;
					font-weight: 400;
					line-height: normal;
					letter-spacing: $letter-spacing-04;
					text-align: center;
					color: $text-secondary-54-p;
					padding: 6px 51px;
				}
			}
		}
		.error {
			margin-top: 200px;
			.count-wrap {
				position: relative;
				.count {
					position: absolute;
					top: 18px;
					right: 12px;
					color: $text-secondary-54-p;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: $letter-spacing-015;
				}
				.error-text {
					position: absolute;
					color: $error-main;
					left: 0;
					bottom: -3px;
					font-size: 12px;
					line-height: 20px;
					letter-spacing: $letter-spacing-04;
				}
			}
			.link__input {
				@include create-input;
				margin-bottom: 16px;
				border-color: $error-main;
			}
			.loading__wrap {
				position: relative;
				border: 1px dashed $error-main;
				padding: 35px 37px 30px;
				display: flex;
				gap: 16px;
				.error-text {
					position: absolute;
					bottom: -23px;
					left: 0;
					right: 0;
					max-width: 219px;
					margin: 0 auto;
					font-size: 10px;
					font-weight: 500;
					line-height: 14px;
					color: #621b16;
					padding: 4px 8px;
					border-radius: 4px;
					background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), $error-main;
				}
			}
			.loading__input {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 0;
				outline:0;
				opacity:0;
				cursor: pointer;
			}
			.loading__content {
				.loading__text {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: $letter-spacing-015;
					&_2 {
						color: $primary-main;
					}
					&_3 {
						font-size: 12px;
						letter-spacing: $letter-spacing-04;
						color: $text-secondary-54-p;
					}
				}
			}
		}
	}
}

.preview {
	position: fixed;
	z-index: 100;
	max-width: 981px;
	width: 59.1%;
	height: 864px;
	background-color: $grey-grey-300-900;
	border-radius: 16px;
	top: 16px;
	right: 16px;
	&__container {
		height: 100%;
		display: flex;
		justify-content: center;
		padding-top: 93px;
		.mobile {
			border: 8px solid $grey-grey-300;
			width: 356px;
			height: 633px;
			background-color: #9197A3;
			border-radius: 45px;
			.display {
				position: relative;
				height: 100%;
				&__top {
					.display__time {
						z-index: 1;
						top: 19px;
						left: 27px;
						position: absolute;
						font-size: 10px;
						font-weight: 600;
						color: $primary-contrast-text;					
					}
					.display__indicator {
						z-index: 1;
						top: 21px;
						right: 25px;
						position: absolute;
						display: flex;
						gap: 6px;
					}
				}
				&__bottom {
					position: relative;
					height: 100%;
					img {
						width: 100%;
						border-radius: 40px 40px 0 0;
					}
					.display__content {
						position: absolute;
						display: flex;
						flex-direction: column;
						justify-content: end;
						bottom: 0;
						width: 100%;
						height: 355px;
						padding: 39px 24px;
						background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #9197A3 22.4%, #9197A3 100%);
						border-radius: 0 0 40px 40px;
						.display__title {
							font-size: 20px;
							font-weight: 500;
							line-height: 32px;
							letter-spacing: $letter-spacing-015;
							margin-bottom: 10px;
						}
						.display__text {
							font-size: 14px;
							line-height: 20px;
							letter-spacing: $letter-spacing-015;
						}
					}
				}
			}
		}
	}
}

