$black: #000000;
$grey-grey-300-900: #212121;
$primary-contrast-text: #FFFFFF;
$primary-main: #2196F3;
$primary-dark:#0B79D0;
$text-secondary-54-p: rgba(#000000, 0.54);
$text-disabled-38-p: rgba(#000000, 0.38);
$grey-grey-300: #E0E0E0;
$error-main: #F44336;
$warning-main: #FF9800;
$success-main: #4CAF50;
$action-hover-4-p: #F0F0F0;

$letter-spacing-04: 0.4px;
$letter-spacing-015: 0.15px;