html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.max-container {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: #F0F0F0;
  margin-bottom: 23px;
}
.header__container {
  padding-top: 60px;
}
.header__container .header__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.header__container .header__main .header__wrap .header__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 88.933%;
  margin-bottom: 12px;
}
.header__container .header__main .header__wrap .header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.15px;
}
.header__container .header__main .header__link {
  padding: 8px 22px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  height: 42px;
  display: flex;
  gap: 8px;
}
.header__container .header__main .header__link:hover {
  background-color: #0B79D0;
}
.header__container .header__messengers .header__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  padding: 12px 40px 10px 40px;
  letter-spacing: 0.4px;
}
.header__container .header__messengers .header__button--active {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}

.post .post__container .table {
  width: 100%;
}
.post .post__container .table__th {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: start;
  padding: 0 0 12px 0;
}
.post .post__container .table__th_post {
  width: 64.8%;
}
.post .post__container .table__th_status {
  width: 27.9%;
}
.post .post__container .table__body {
  width: 100%;
}
.post .post__container .table__body .table__row .column {
  padding: 11px 0;
}
.post .post__container .table__body .table__row .column__container {
  display: flex;
}
.post .post__container .table__body .table__row .column img {
  width: 74px;
  height: 71px;
  border-radius: 4px;
}
.post .post__container .table__body .table__row .column__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
  margin-bottom: 3px;
}
.post .post__container .table__body .table__row .column__text {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.4px;
}
.post .post__container .table__body .table__row .column__date {
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.38);
}
.post .post__container .table__body .table__row .column__circle {
  position: relative;
  margin-top: 5px;
  margin-left: 1px;
  width: 9px;
  height: 9px;
  border-radius: 10px;
  background-color: #FF9800;
}
.post .post__container .table__body .table__row .column__circle_success {
  background-color: #4CAF50;
}
.post .post__container .table__body .table__row .column__circle_error {
  background-color: #F44336;
}
.post .post__container .table__body .table__row .column__button {
  width: 24px;
  height: 24px;
  padding-top: 2px;
  position: relative;
}
.post .post__container .table__body .table__row .column__button::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: -10px;
  left: -12px;
  right: -12px;
  border-radius: 48px;
  transition: background-color, 0.3s ease-in-out;
}
.post .post__container .table__body .table__row .column__button:hover svg {
  filter: invert(46%) sepia(76%) saturate(1668%) hue-rotate(184deg) brightness(97%) contrast(97%);
}
.post .post__container .table__body .table__row .column__button:hover::after {
  background-color: rgba(33, 150, 243, 0.04);
}
.post .post__container .table__body .table__row .column__button:active svg {
  filter: invert(46%) sepia(76%) saturate(1668%) hue-rotate(184deg) brightness(97%) contrast(97%);
}
.post .post__container .table__body .table__row .column__button:active::after {
  background-color: rgba(33, 150, 243, 0.24);
}
.post .post__container .table__body .table__row .column_post .column__container {
  align-items: center;
}
.post .post__container .table__body .table__row .column_post .column__wrap {
  padding-left: 15px;
}
.post .post__container .table__body .table__row .column_post .column__wrap .column__text {
  color: rgba(0, 0, 0, 0.38);
}
.post .post__container .table__body .table__row .column_status .column__wrap {
  padding-left: 8px;
}
.post .post__container .table__body .table__row .column_status .column__wrap .column__text {
  font-size: 14px;
  margin-bottom: 6px;
}
.post .post__container .table__body .table__row .column_link .column__container {
  justify-content: space-between;
}/*# sourceMappingURL=style-index.css.map */